<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:usesCleartextTraffic="true">
        <activity
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:name=".ui.WebActivity"
            android:exported="false" />
    </application>

</manifest>